* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.clearfix:after {
    display: block;
    content: ".";
    visibility: hidden;
    clear: both;
    height: 0;
    line-height: 0;
}

html {
    font-family: 'PT Sans', sans-serif;
    font-size: 8px;
    color: #414042;
    /*    color: white;*/
}

header {
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background: #fff;
    font-size: 1.5rem;
}

body {
    background-color: #414042;
    background-image: url(../imgs/bg.png);
    background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
}

a {
    text-decoration: none;
    color: inherit;
}



.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    max-height: none;
    background: #fff;

}


header .menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 28px 20px;
    position: relative;
}


header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
}

header li {
    float: left;
}

header li a:hover,
header .menu-btn:hover {
    background-color: #f4f4f4;
    color: #c0780b;
    border-bottom: 3px solid #f2ac20;
}

header .menu-btn {
    display: none;
}

/*
.active {
    color: #c0780b;
    border-bottom: 3px solid #f2ac20;
}
*/

.logo {
    margin-top: 1rem;
    width: 5rem;
    box-sizing: content-box;
    padding-left: 10rem;
    display: block;
    float: left;
}

.logo img {
    width: 6rem;
}


/* ***************************   main section   ***********************  */

.container {
    margin: 0 auto;
    width: 70%;

}

.hero-main {
    padding: 2rem;
    margin-top: 12rem;
}

main {
    color: white;
    font-size: 2.5rem;
}

.hero-main h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif;
}

.light {
    font-weight: bold;
    color: #f2ac20;
}

.desc {
    margin: 2rem 0;
    font-weight: lighter;
    font-size: 2.2rem;
    text-align: justify;
    text-justify: inter-word;
}

.hero-title {
    margin-top: 6rem;
    font-weight: lighter;
    width: 45%;
    float: left;
    font-size: 2.5rem;
}

.hero-title img {
    height: 100px;
    display: none;
}


.hero-title h1 + p {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
}

.hero-title a {
    display: inline-block;
    margin-top: 2rem;
    margin-right: 1rem;
    padding: 2rem;
    background: #f2ac20;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    border: 2px solid #f2ac20;
    border-radius: 10px;
    color: #414042;

}

.hero-title a span {
    text-transform: uppercase;
}

.hero-title a:hover {
    display: inline-block;
    background: transparent;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    border: 2px solid #f2ac20;
    color: white;
}

.hero-img {
    width: 50%;
    float: left;
    text-align: center;
    margin-left: 5%;
}

.hero-main svg {
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 100%;
    margin-left: 10%;
}



[class*="col-"] {
    padding: 2rem;
}

.col-1 {
    width: 100%;
    margin-left: 0;
}

.col-2 {
    width: 45%;
    margin-left: 5%;
}

#light {
    opacity: 0;
    transition: opacity .9s;
}

.hero-main svg:hover #light {
    display: block;
    opacity: 100;
}

.hero-main svg:hover #sad {
    display: none;
}



/*        Features         */

.features {
    padding: 2rem;
    background: rgba(255, 255, 255, 0.8);
    color: #414042;
}

.features br {
    color: #414042;
}

.f-title {
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding-left: 10%;
    width: 47%;
    float: left;
}

.f-title h1 {
    margin-bottom: 1rem;
    font-family: 'Fira Sans Condensed', sans-serif;
    color: #f2ac20;
}

.f-title ul {
    list-style: square;
    list-style-position: inside;
}

.f-title ul li {
    padding: 0.7rem 0;
}

.f-title ul li:last-child {
    padding: 0.7rem 0;
    list-style: none;
}

.f-title a {
    display: inline-block;
    margin-top: 2rem;
    padding: 2rem;
    background: transparent;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    border: 2px solid #414042;
    border-radius: 10px;
    color: #414042;
    transition: background 0.5s ease-out;

}

.f-title a:hover {
    display: inline-block;
    background: #414042;
    font-weight: bold;
    border: 2px solid #414042;
    color: white;
}

.f-title a span {
    text-transform: uppercase;
}

.f-title p {
    font-weight: bold;
}

.f-img {
    width: 47%;
    margin-right: 6%;
    float: left;
}

.f-img img {
    width: 100%;
    max-width: 100%;
    margin-top: 5rem;
}




/*            Pricing         */
.pricing {
    padding: 2rem;
    text-align: center;
}

.section-title {
    margin: 4rem 0;
    font-size: 5rem;
}

.price {
    text-align: center;
    background: rgba(255, 255, 255, 0.95);
    color: #414042;
    width: 32%;
    margin-left: 2%;
    margin-bottom: 8rem;
    float: left;
    padding: 2rem;
    border-radius: 10px;
    min-height: 500px;
    max-height: 100%;
}

.price:hover {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px #000000;
}

.price-header h1 {
    margin: 1rem 0;
}

.Regular {
    color: #414042;
}

.price-header p {
    font-weight: bold;
    margin-bottom: 2rem;
}

.price ul {
    list-style: none;
    margin-left: 2rem;
    text-align: left;
}


.price ul li {
    padding: 1rem 0;
}

.price ul li i {
    font-size: 2rem;
}

.price a {
    display: inline-block;
    margin: 2rem 0;
    padding: 1rem 1.5rem;
    background: #f2ac20;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    border: 2px solid #f2ac20;
    border-radius: 25px;
    color: #414042;
}

.price a:hover {
    background: #f2ae49;
}



/*        ///////////// partner ///////////////          */

.partners {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    color: #414042;
    padding: 6rem 0;
}

.partners h1 {
    margin-bottom: 4rem;
    font-size: 5rem;
}

.partner {
    width: 19%;
    float: left;
    margin-left: 1.25%;
}

.partner img {
    width: 80%;
    max-width: 100%;
    margin: auto;
}



/*        ///////////////// contact form ///////////          */

.contact-form {
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 6rem 0;
    color: #414042;
    text-align: center;
}

.contact-form form {
    text-align: left;
}

.contact-form h1 {
    margin-bottom: 4rem;
    font-size: 5rem;
}


.contact-form input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-form input[type=submit] {
    color: white;
    font-weight: bold;
    background: #414042;
    padding: 10px 15px;
    border: 2px solid #414042;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.contact-form input[type=submit]:hover {
    color: #414042;
    font-weight: bold;
    background: transparent;
    padding: 10px 15px;
    border: 2px solid #414042;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 15px;
    cursor: pointer;
}


.personl-info {
    float: left;
    width: 48%;
}

.message-sub {
    float: left;
    width: 48%;
    margin-left: 4%;
}



.main-footer {
    color: white;
    background: #414042;
    text-align: center;
    padding: 3rem;
}

.main-footer ul {
    list-style: none;
    font-size: 3rem;
}

.main-footer ul li {
    display: inline-block;
}

.main-footer p {
    margin-top: 1rem;
    font-size: 2rem;

}

/* *********************************************************/

/*   /////////////////// Media Queries ///////////////////////  */


@media screen and (max-width:1250px) {

    .hero-title {
        margin-top: 0;
        margin-bottom: 6rem;
        width: 55%;
        font-weight: lighter;
        font-size: 2rem;
    }

    .hero-img {
        width: 45%;
        margin-left: 0%;
    }

    .hero-main h1 {
        font-size: 5rem;
        margin-bottom: 0.9rem;
    }


    .desc {
        margin: 1.8rem 0;
        font-size: 1.8rem;
    }

    .hero-title h1 + p {
        font-size: 2.9rem;
    }


    .hero-title a {
        display: inline-block;
        margin-top: 1.5rem;
        padding: 1.8rem;
        background: #f2ac20;
        font-family: 'Fira Sans Condensed', sans-serif;
        font-weight: bold;
        border-radius: 10px;
        color: #414042;

    }

    .hero-main svg {
        align-self: center;
        justify-self: center;
        width: 100%;
        max-width: 100%;
        margin-left: 15%;
    }



    /*        ///////////////// features /////////////         */
    .f-title {
        margin-top: 6rem;
        padding-left: 10%;
        width: 56%;
        float: left;
    }

    .f-img {
        width: 40%;
        margin-right: 4%;
        float: left;
    }

    .f-title {
        font-size: 2.5rem;
    }




    /*    ////////////// pricing ////////////     */
    .price {
        width: 49%;
        margin-left: 2%;
        min-height: 500px;
    }

    .last {
        width: 100%;
        margin-left: 0%;
        min-height: 100%;
    }



}



@media screen and (max-width:850px) {

    /*        //////////nave-bar////////////         */
       header li a {
        padding: 20px 20px;
    }

    header{
        
        text-align: center;
    }
    .menu {
        clear: both;
        height: 0;
        width: 100%;
        overflow: hidden;
        font-size: 2rem;
    }

    header .menu-icon {
        display: inline-block;
        font-size: 3rem;
    }

    header li {
        float: none;
        display: block;
    }


    header .menu-btn:checked ~ .menu {
        height: 100%;
/*        transition: height .2s ease-out;*/
    }
    
    .logo{
        margin-top: 3rem;
    }




    /*            //////////hero///////////            */

    .hero-title {
        width: 100%;
        margin-bottom: 8rem;

    }

    .hero-img {
        display: none;
    }

    .hero-title img {
        display: inline-block;
    }

    /*    ////////////// pricing ////////////     */
    .price {
        width: 100%;
        margin-left: 0;
        min-height: 100%;
    }



    /*        ///////////////// features /////////////         */
    .f-title {
        margin-top: 6rem;
        padding-left: 10%;
        width: 100%;
        float: left;
    }

    .f-img {
        width: 100%;
        margin-right: 0;
        float: left;
    }


    /*        ///////////////// Contact form /////////////         */
    .personl-info {
        width: 100%;
    }

    .message-sub {
        width: 100%;
        margin-left: 0%;
    }
}

@media screen and (max-width:600px) {

 

    /*
    nav {
        display: flex;
        border-bottom: none;
        flex-direction: column;
        width: 25rem;
        height: 100vh;
        background-color: #f7f7f6;
        justify-content: space-evenly;
        transform: translateX(-25rem);
        transition: transform .5s;
    
    
        display: none;
    }

    nav ul {
        height: initial;
        display: block;
        font-size: 2rem;
        text-align: center;
    }

    nav ul li {
        padding: 0;
        line-height: initial;
        margin-bottom: 2rem;
    }

    .logo {
        padding: 0;
    }

    .nav-right ul li {
        border: 0;
    }

    .menu-toggle {
        display: flex;
    }
*/

    /*
    .active-nav {
        transform: translateX(0);
    }

    .orverlay {
        position: absolute;
        width: 0;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        z-index: 98;
        opacity: 0;
        transition: opacity 0.5s;

    }

    .overlay .menu-open {
        width: 100%;
        opacity: 1;
    }

*/





}




/*
.shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
*/
.first {
    margin-left: 0;
}



/*    SVG style     */
.st0 {
    fill: #F1F2F2;
}

.st1 {
    fill: #58595B;
}

.st2 {
    fill: none;
    stroke: #414042;
    stroke-width: 2.2216;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st3 {
    fill: #414042;
    stroke: #FFFFFF;
    stroke-width: 2.2216;
    stroke-miterlimit: 10;
}

.st4 {
    fill: #414042;
}

.st5 {
    fill: none;
    stroke: #414042;
    stroke-width: 9.8046;
    stroke-linecap: round;
    stroke-miterlimit: 10;
}

.st6 {
    display: none;
}


.st7 {
    display: inline;
}

.st8 {
    opacity: 0.45;
    fill: #F2AC20;
}

.st9 {
    fill: #F2AC20;
}
